/* Base css components */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #8ad1b8;
    line-height: 1.6;
    margin-bottom: 100px;
}

button, input {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

input[type='text'],
input[type='number'] {
    cursor: text;
}

/* HEADER */

.header-container {   
    background-color: #fcc603;
    border-bottom: 10px solid coral;
    max-width: 100%;
}

.header-flexbox {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    margin:0 auto;
}

.header-title {
    display: flex;
    color: ivory;
    font-family: monospace;
    font-size: 100px;
    line-height: 1;
    letter-spacing: 10px;
    text-align: center;
}

/* MAIN */

.main-container {
    max-width: 100%;
    text-align: center;
    align-items: center;
    margin: 60px
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    outline: rgb(8, 49, 8) solid 3px;

    min-height: 120px;
}

.book-card {
    border: thin dashed #000120;
    margin: 10px;
    background-color: honeydew;

    display: flex;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
}

p1 {
    font-family: 'Gill Sans Extrabold';
    font-weight: 1200;
    font-size: 25px;
}

.input-form {
    max-height: 440px;
    margin: 60px;
}

.add-book-btn {
    padding: 10px;
    font-size: 40px;
    text-align: left;
}

.add-book-footer {
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* BUTTONS */

.btn {
    padding: 10px;
    border: 4px solid chocolate;
    font-weight: bold;

}

.submit-book-btn {
    padding: 15px;
}

.btn-large {
    padding: 15px;
    font-size: 50px;
}

